{% for year in years %}
    <tr>
        <td>{{ year.id }}</td>
        <td>{{ year.school }}</td>
        <td>{{ year.year }}</td>
        <td>{{ year.is_current_year }}</td>
        <td>{{ year.note }}</td>
        <td>

            {% if year.is_current_year == True %}
                <a href="{% url 'year_update' year.pk %}" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span> Edit</a>

                <a href="#" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-ok"></span> Active</a>

            {% else %}

                <a href="{% url 'year_update' year.pk %}" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span> Edit</a>

                <button type="button"
                        class="btn btn-danger btn-sm js-delete-year"
                        data-url="{% url 'year_delete' year.pk %}">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>

                <button type="button"
                        class="btn btn-warning btn-sm"
                        data-url="#"> Activate
                </button>

            {% endif %}

    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Academic Year</td>
    </tr>
{% endfor %}