<form method="post" action="{% url 'assignment_view' form.instance.pk %}" class="js-assignment-view-form"
      enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-lg" tabindex="-1" role="document" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Assignment Information</h4>
            </div>
            <div class="modal-body">

                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                             aria-labelledby="basic-tab">
                            <p></p>
                            <table id="tablePreview" class="table table-bordered table-striped">
                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th>School Name</th>
                                    <td>{{ form.instance.school }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Assignment Title</th>
                                    <td>{{ form.instance.assignment_title }}</td>
                                </tr>
                                <tr>
                                    <th>Class</th>
                                    <td>{{ form.instance.classroom }}</td>
                                </tr>
                                <tr>
                                    <th>Subject</th>
                                    <td>{{ form.instance.subject }}</td>
                                </tr>
                                <tr>
                                    <th>Deadline</th>
                                    <td>{{ form.instance.deadline }}</td>
                                </tr>
                                <tr>
                                    <th>Assignment</th>
                                    <td>
                                        <div class="mb-4">
                                            <a href="{{ form.instance.assignment.url }}" class="btn btn-primary btn-sm"
                                               target="_blank">
                                                <span class="fa fa-download"></span>Download
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Note</th>
                                    <td>{{ form.instance.note }}</td>
                                </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>
