{% for teacher in teachers %}
    <tr>
        <td>{{ teacher.id }}</td>
        <td>
            {% if teacher.user.photo %}
                <img src="{{ teacher.user.photo.url }}"
                     alt="" width="50"
                     style="background: rgba(15,174,221,0.97); padding: 2px;"/><br/><br/>
            {% endif %}
        </td>
        <td>{{ teacher.user.full_name }}</td>
        <td>{{ teacher.responsibility }}</td>
        <td>{{ teacher.user.phone }}</td>
        <td>{{ teacher.user.email }}</td>
        <td>{{ teacher.Is_View_on_Web }}</td>
        <td>
            <a href="{% url 'teacher_update' teacher.pk %}" class="btn btn-warning btn-sm">
                <span class="fa fa-pencil-square-o"></span> Edit</a>
            <br>
            <button type="button"
                    class="btn btn-info btn-sm js-view-teacher"
                    data-url="{% url 'teacher_view' teacher.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span> View
            </button>
            <br>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-teacher"
                    data-url="{% url 'teacher_delete' teacher.pk %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Teacher</td>
    </tr>
{% endfor %}