<form method="post" action="{% url 'application_view' form.instance.pk %}" class="js-application-view-form"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Application Information</h4>
    </div>
    <div class="modal-body">

        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                     aria-labelledby="basic-tab">
                    <p></p>
                    <table id="tablePreview" class="table table-bordered table-striped">
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th>School Name</th>
                            <td>{{ form.instance.school }}</td>
                            <th>Session Year</th>
                            <td>{{ form.instance.school }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Applicant Type</th>
                            <td>{{ form.instance.applicant_type }}</td>
                            <th>Applicant Name</th>
                            <td>{{ form.instance.applicant }}</td>
                        </tr>
                        <tr>
                            <th>Leave Type</th>
                            <td>{{ form.instance.leave_Type }}</td>
                            <th>Application Date</th>
                            <td>{{ form.instance.application_Date }}</td>
                        </tr>
                        <tr>
                            <th>Leave From</th>
                            <td>{{ form.instance.leave_From }}</td>
                            <th>Leave To</th>
                            <td>{{ form.instance.leave_To }}</td>
                        </tr>
                        <tr>
                            <th>Leave Reason</th>
                            <td>{{ form.instance.leave_Reason }}</td>
                            <th>Leave Note</th>
                            <td>{{ form.instance.application_title }}</td>
                        </tr>
                        <tr>
                            <th>Total Leave</th>
                            <td>{{ form.instance.application_title }}</td>
                            <th>Apply Leave</th>
                            <td>{{ form.instance.application_title }}</td>
                        </tr>
                        <tr>
                            <th>Leave Used</th>
                            <td>{{ form.instance.application_title }}</td>
                            <th>Leave Left</th>
                            <td>{{ form.instance.application_title }}</td>
                        </tr>
                        <tr>
                            <th>Leave Status</th>
                            <td>{{ form.instance.status }}</td>
                            <th>Attachment</th>
                            <td>
                                <a href="{{ form.instance.leave_attachment.url }}" class="btn btn-primary btn-sm"
                                   target="_blank">
                                    <span class="fa fa-download"></span>Download
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>