{% for emailtemplate in emailtemplates %}
    <tr>
        <td>{{ emailtemplate.id }}</td>
        <td>{{ emailtemplate.school }}</td>
        <td>{{ emailtemplate.receiver_type }}</td>
        <td>{{ emailtemplate.template_title }}</td>
        <td>{{ emailtemplate.template }}</td>
        <td>
            <a href="{% url 'emailtemplate_update' emailtemplate.pk %}" class="btn btn-info btn-sm">
                <span class="fa fa-pencil-square-o"></span> Edit</a>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-emailtemplate"
                    data-url="{% url 'emailtemplate_delete' emailtemplate.pk %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Email Templates</td>
    </tr>
{% endfor %}