<strong><u class="blue-text">SECOND TERM</u></strong>
{% for subject in subjects %}
    {% if subject.term == "Second" %}
        <tr>
            <th scope="row">
                <input name="{{ subject.pk }}" value="{{ subject.subject_unit }}"
                       class="form-check-input" type="checkbox" id="checkbox1">
                <label class="form-check-label" for="checkbox1"
                       class="label-table"></label>
            </th>
            <td>{{ subject.subject_code }}</td>
            <td>{{ subject.subject_name }}</td>
            <td>{{ subject.subject_unit }}</td>
            {% if subject.is_elective %}
                <td>Elective</td>
            {% else %}
                <td>Core</td>
            {% endif %}
            <td class="text-center">-</td>
        </tr>
    {% endif %}
{% endfor %}
<tr>
    <th scope="row">

    </th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>Second term unit(s):</b> {{ total_sec_term_unit }} </td>
</tr>
<tr>
    <th scope="row">

    </th>
    <td><b>Selected Unit(s): <a id="units">{{ total_registered_unit }}</a></b></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>Total
        unit(s):</b> {{ total_sec_term_unit|add:total_first_term_unit }} </td>
</tr>