{% for complain in complains %}
    <tr>
        <td>{{ complain.id }}</td>
        <td>{{ complain.school }}</td>
        <td></td>
        <td>{{ complain.complain_user }}</td>
        <td>{{ complain.complain_type }}</td>
        <td>{{ complain.complain_date }}</td>
        <td>{{ complain.action_date }}</td>
        <td>
            <div class="mb-4">
                <a href="{% url 'complain_update' complain.pk %}" class="btn btn-info btn-sm">
                    <span class="fa fa-pencil-square-o"></span> Update Status</a>
            </div>
            <button type="button"
                    class="btn btn-warning btn-sm js-view-complain"
                    data-url="{% url 'complain_view' complain.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span> View
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-complain"
                    data-url="{% url 'complain_delete' complain.pk %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            <br>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Complain</td>
    </tr>
{% endfor %}