{% for classroom in classrooms %}
    <tr>
        <td>{{ classroom.id }}</td>
        <td>{{ classroom.school }}</td>
        <td>{{ classroom.classroom }}</td>
        <td>{{ classroom.numeric_name }}</td>
        <td>{{ classroom.class_teacher.user.full_name }}</td>
        <td>

            <a href="{% url 'classroom_update' classroom.pk %}" class="btn btn-info btn-sm">
                <span class="fa fa-pencil-square-o"></span> Edit</a>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-classroom"
                    data-url="{% url 'classroom_delete' classroom.pk %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            <br>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Classroom</td>
    </tr>
{% endfor %}