{% for hostel_member in hostel_members %}
    <tr>
        <td>{{ hostel_member.id }}</td>
        <td>{{ hostel_member.school }}</td>
        <td>
            {% if hostel_member.photo %}
                <img src="{{ hostel_member.photo.url }}"
                     alt="" width="50"
                     style="background: rgba(15,174,221,0.97); padding: 2px;"/><br/><br/>
            {% endif %}
        </td>
        <td>{{ hostel_member.name }}</td>
        <td>{{ hostel_member.classroom }}</td>
        <td>{{ hostel_member.section }}</td>
        <td>{{ hostel_member.roll_no }}</td>
        <td>{{ hostel_member.hostel_name }}</td>
        <td>{{ hostel_member.room_no }} - [{{ hostel_member.room_type }}]</td>
        <td>{{ hostel_member.room_no.cost_per_seat }}</td>
        <td>
            <div class="mb-4">
                <a href="{% url 'hostel_member_update' hostel_member.pk %}" class="btn btn-info btn-sm">
                    <span class="fa fa-pencil-square-o"></span> Edit</a>
            </div>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-hostel_member"
                    data-url="{% url 'hostel_member_delete' hostel_member.pk %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="10" class="text-center bg-warning">No Hostel Member</td>
    </tr>
{% endfor %}