{% extends 'home/base.html' %}
{% load static %}
<body>

{% block content %}

    <section class="top-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="top-banner-content">
                        <h3 class="intro">Welcome to</h3>
                        <h2 class="title">
                            Windsor Park High School </h2>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                            perspiciatis
                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium....
                        </p>
                        <div class="more text-right">
                            <a class="link glbscl-link-btn hvr-bs" href="#">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                    <div class="top-banner-img">
                        <img src="{% static 'img/about-image.jpg' %}"
                             alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="facilities-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Our <span class="inner">Facilities</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-faclities">
                        <div class="icon">
                            <img src="{% static 'img/experience-teacher.png' %}"
                                 alt="">
                        </div>
                        <h4 class="name">Our Teacher</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-faclities">
                        <div class="icon">
                            <img src="{% static 'img/library.png' %}" alt="">
                        </div>
                        <h4 class="name">Library</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-faclities">
                        <div class="icon">
                            <img src="{% static 'img/transport.png' %}" alt="">
                        </div>
                        <h4 class="name">Transport</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-faclities">
                        <div class="icon">
                            <img src="{% static 'img/hostel.png' %}" alt="">
                        </div>
                        <h4 class="name">Hostel</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="latest-event">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Latest <span class="inner">Event</span></h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="single-event">
                        <div class="img">
                            <img src="{% static 'img/event-151.jpg' %}"
                                 alt="">

                        </div>
                        <div class="content">
                            <h2 class="title"><a href="#">Study
                                Tour</a>
                            </h2>
                            <ul class="list">
                                <li class="info"><span class="icon"><i class="fas fa-user"></i></span>All (Event for)
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>16 Jul,
                                    2018
                                    (Start Date)
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>22 Jul,
                                    2018
                                    (End Date)
                                </li>
                                <li class="info"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>Nehantic
                                    State Forest
                                </li>
                            </ul>
                            <div class="more text-center">
                                <a href="#"
                                   class="link glbscl-link-btn hvr-bs">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="single-event">
                        <div class="img">
                            <img src="{% static 'img/event-1518630610-sms.jpg' %}"
                                 alt="">

                        </div>
                        <div class="content">
                            <h2 class="title"><a href="#">School
                                Picnic</a></h2>
                            <ul class="list">
                                <li class="info"><span class="icon"><i class="fas fa-user"></i></span>All (Event for)
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>1 Mar,
                                    2018
                                    (Start Date)
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>3 Mar,
                                    2018
                                    (End Date)
                                </li>
                                <li class="info"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>Mystic
                                    Seaport
                                </li>
                            </ul>
                            <div class="more text-center">
                                <a href="#"
                                   class="link glbscl-link-btn hvr-bs">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="single-event">
                        <div class="img">
                            <img src="{% static 'img/event-1518629487-sms.jpg' %}"
                                 alt="">

                        </div>
                        <div class="content">
                            <h2 class="title"><a href="#">Play
                                Football</a></h2>
                            <ul class="list">
                                <li class="info"><span class="icon"><i class="fas fa-user"></i></span>Student (Event
                                    for)
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>15 Aug,
                                    2018
                                    (Start Date)
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>22 Aug,
                                    2018
                                    (End Date)
                                </li>
                                <li class="info"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>School
                                    Playground ed
                                </li>
                            </ul>
                            <div class="more text-center">
                                <a href="#"
                                   class="link glbscl-link-btn hvr-bs">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="achivement-area bg-with-black">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Our <span class="inner">Achievement</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-achivement">
                        <div class="icon">
                            <img src="{% static 'img/teacher.png' %}" alt="">
                        </div>
                        <div class="content">
                            <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">
                                8 </h2>
                            <p class="name">Teacher</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-achivement">
                        <div class="icon">
                            <img src="{% static 'img/student.png' %}" alt="">
                        </div>
                        <div class="content">
                            <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">
                                43 </h2>
                            <p class="name">Student</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-achivement">
                        <div class="icon">
                            <img src="{% static 'img/staff.png' %}" alt="">
                        </div>
                        <div class="content">
                            <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">
                                8 </h2>
                            <p class="name">Staff</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-achivement">
                        <div class="icon">
                            <img src="{% static 'img/staff.png' %}" alt="">
                        </div>
                        <div class="content">
                            <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">
                                75 </h2>
                            <p class="name">Users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="latest-news-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Latest <span class="inner">News</span></h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                    <div class="single-news">
                        <div class="img">
                            <img src="{% static 'img/news-1518628922-sms.jpg' %}"
                                 alt="">

                        </div>
                        <div class="content">
                            <ul class="meta">
                                <li class="info"><span class="icon"><i class="fa fa-user"></i></span>By / Super Admin
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>9 Mar,
                                    2018
                                </li>
                            </ul>
                            <h2 class="title"><a href="#">The North
                                Kingston Secondary School Daily Education</a></h2>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                too
                                ...
                            </p>
                            <div class="more text-right">
                                <a class="link glbscl-link-btn hvr-bs"
                                   href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                    <div class="single-news">
                        <div class="img">
                            <img src="{% static 'img/news-15.jpg' %}"
                                 alt="">

                        </div>
                        <div class="content">
                            <ul class="meta">
                                <li class="info"><span class="icon"><i class="fa fa-user"></i></span>By / Super Admin
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>8 Jan,
                                    2018
                                </li>
                            </ul>
                            <h2 class="title"><a href="#">Govt.
                                Primary
                                School Admission</a></h2>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                too
                                ...
                            </p>
                            <div class="more text-right">
                                <a class="link glbscl-link-btn hvr-bs"
                                   href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                    <div class="single-news">
                        <div class="img">
                            <img src="{% static 'img/news-151860326.jpg' %}"
                                 alt="">

                        </div>
                        <div class="content">
                            <ul class="meta">
                                <li class="info"><span class="icon"><i class="fa fa-user"></i></span>By / Super Admin
                                </li>
                                <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>1 Mar,
                                    2018
                                </li>
                            </ul>
                            <h2 class="title"><a href="#">The North
                                Kingston Secondary lSchool Magazine</a></h2>
                            <p class="text">
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece
                                of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClinto
                                ...
                            </p>
                            <div class="more text-right">
                                <a class="link glbscl-link-btn hvr-bs"
                                   href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="testimonial-area bg-with-black">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title white text-center">
                        <h2 class="title">What Guardian Say?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 offset-lg-1 col-sm-12 col-12">
                    <div class="testimonial-carousel owl-carousel">
                        <div class="single-testimonial">
                            <div class="auth-img">
                                <img src="{% static 'img/photo-1518180397-sms.jpg' %}"
                                     alt="">

                            </div>
                            <div class="content">
                                <h2 class="name">TK Musakanda</h2>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                    aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="apply-now-area">
        <div class="container">
            <div class="apply-now">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-8 col-12">
                        <h2 class="title">Apply Now for Your Kids</h2>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                        <a href="#"
                           class="link glbscl-link-btn hvr-bs" style="color: #007bff !important;">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>        <!-- /page content -->

    <!-- footer content -->
    <footer>
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-7 col-sm-7 col-12">
                        <div class="footer-widget">
                            <div class="fw-logo">

                                <img src="#"
                                     alt=""/>

                            </div>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5 col-12">
                        <div class="footer-widget">
                            <h2 class="fw-title"><span>Quick Link:</span></h2>
                            <ul class="links">
                                <li><a href="#">Admission</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Notice</a></li>
                                <li><a href="#">Holiday</a></li>
                                <li><a href="#">Event</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Teacher</a></li>
                                <li><a href="#">Staff</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy
                                    Policy</a>
                                </li>
                                <li><a href="#">Terms &
                                    Condition</a></li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5 col-12">
                        <div class="footer-widget">
                            <h2 class="fw-title">Social Link</h2>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a></li>

                                <li><a href="https://www.twitter.com/" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                </li>

                                <li><a href="https://www.linkedin.com/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a></li>

                                <li><a href="https://plus.google.com/" target="_blank"><i
                                        class="fab fa-google-plus-g"></i></a>
                                </li>

                                <li><a href="https://www.youtube.com/" target="_blank"><i
                                        class="fab fa-youtube"></i></a>
                                </li>

                                <li><a href="https://www.instagram.com/" target="_blank"><i
                                        class="fab fa-instagram"></i></a></li>

                                <li><a href="https://www.pinterest.com/" target="_blank"><i
                                        class="fab fa-pinterest-p"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-7 col-sm-7 col-12">
                        <div class="footer-widget">
                            <h2 class="fw-title">Get in Touch</h2>
                            <ul class="address">
                                <li><span class="icon"><i class="fas fa-phone"></i></span>
                                    0123456789
                                </li>
                                <li><span class="icon"><i class="fas fa-envelope"></i></span>
                                    info@gsms.com
                                </li>
                                <li><span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                    10433 Wolverine Way Bellevue, CA 98456
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container text-center">
                <p class="copyright">
                    Canon Innovations Ltd
                </p>
            </div>
        </div>
    </footer>

    <!-- /footer content -->


{% endblock %}

</body>