{% load static %}
<!-- Scripts -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<script src="http://www.codetroopers-team.com/gmsms/assets/js/front/theme.js"></script>
