{% for issue in issues %}
    <tr>
        <td>{{ issue.id }}</td>
        <td>{{ issue.school }}</td>
        <td>
            {% if issue.library_member %}
                <img src="{{ issue.library_member.photo.url }}"
                     alt="" width="50"
                     style="background: rgba(15,174,221,0.97); padding: 2px;"/><br/><br/>
            {% endif %}
        </td>
        <td>{{ issue.library_member }}</td>
        <td>{{ issue.select_book }}</td>
        <td>{{ issue.ISBN_no }}</td>
        <td>{{ issue.issue_date }}</td>
        <td>{{ issue.due_date }}</td>
        <td>{{ issue.return_date }}</td>
        <td>
            {% if issue.book_cover %}
                <img src="{{ issue.book_cover.url }}"
                     alt="" width="50"
                     style="background: rgba(15,174,221,0.97); padding: 2px;"/><br/><br/>
            {% endif %}
        </td>
        <td>
            <a href="#" class="btn btn-info btn-sm">
                <span class="fa fa-share"></span> Return This</a>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="11" class="text-center bg-warning">No Issue</td>
    </tr>
{% endfor %}