{% extends "app/base_site.html" %}

{% block title %} Salary Grade {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/salary_grades.js' %}"></script>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-dollar"></i><small> Manage Salary Grade</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="{% url 'salary_grade_list' %}">Salary Grade</a>
                        | <a href="{% url 'salary_payment' %}">Salary Payment</a>
                        | <a href="{% url 'SalaryHistory' %}">Payment History</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation"><a href="{% url 'SalaryReport' %}"><i
                                        class="fa fa-list-ol"></i> Monthly Salary Report</a>
                                </li>
                                <li role="presentation" class="active"><a
                                        href="{% url 'salary_grade_create' %}"><i
                                        class="fa fa-plus-square-o"></i> Add
                                    Payment</a>
                                </li>
                            </ul>
                            <br/>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_salary_grade_list">
                                    <div class="x_content">

                                        <form class="form-horizontal form-label-left"
                                              id="SalaryGradeForm"
                                              role="form"
                                              action="{% url 'PayingSalary'%}"
                                              
                                              method="post"
                                              enctype="multipart/form-data"
                                              accept-charset="utf-8">
                                              {% csrf_token %}

                                           <div class="form-row">                                                
                                             <div  class="form-group col-md-3 mb-0" >
                                                {% for employee in payee %}
                                                <label for="employee">Employee</label>
                                                <input type="readOnly" id="employee" name="employee"  value="{{ employee.user}}"maxlength="100" class="textinput textInput form-control">

                                                <label for="employee">Employee Id</label>
                                                <input type="readOnly" id="employees_id" name="employees_id"  value="{{ employee.id}}"maxlength="10" class="textinput textInput form-control">

                                                {% endfor%}
                                              </div>
                                              <div class="form-group col-md-3 mb-0">
                                                  {{ form.grade_name|as_crispy_field }}
                                              </div>
                                              <div class="form-group col-md-3 mb-0">
                                                  {{ form.basic_salary|as_crispy_field }}
                                              </div>
                                              <div class="add form-group col-md-3 mb-0">
                                                  {{ form.house_rent|as_crispy_field }}
                                              </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="year form-group col-md-3 mb-0">
                                                  {{ form.academic_year|as_crispy_field }}
                                                </div>
                                                <div class="add form-group col-md-3 mb-0">
                                                    {{ form.transport_allowance|as_crispy_field }}
                                                </div>
                                                <div class="add form-group col-md-3 mb-0">
                                                    {{ form.medical_allowance|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.over_time_hourly_pay|as_crispy_field }}
                                                </div>
                                            </div> 

                                            <div class="form-row">
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.over_time_total_hour|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.over_time_amount|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.provident_fund|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.Bonus|as_crispy_field }}
                                                </div>
                                                
                                            </div>

                                            <div class="form-row">
                                              <div class="form-group col-md-3 mb-0">
                                                    {{ form.Penalty|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.hourly_rate|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.total_allowance|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.total_deduction|as_crispy_field }}
                                                </div>
                                                
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.gross_salary|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.net_salary|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.Month|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.Payment_Method|as_crispy_field }}
                                                </div>                                                
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.Expenditure_Head|as_crispy_field }}
                                                </div> 
                                                <div class="bank_name form-group col-md-3 mb-0">
                                                    {{ form.Bank_Name|as_crispy_field }}
                                                </div>   
                                                <div class="cheque_number form-group col-md-3 mb-0">
                                                    {{ form.Cheque_Number|as_crispy_field }}
                                                </div>
                                                <div class="notes form-group col-md-6 mb-0">
                                                    {{ form.note|as_crispy_field }}
                                                </div>
                                            </div>

                                             <div class="form-row">
                                                <div class="form-group col-md-12 mb-0">
                                                    <div class="row">
                                                        <div class="col">
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <a href="{% url 'salary_grade_list' %}"
                                                       class="btn btn-outline-secondary" type="button">Cancel</a>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <script type="text/javascript">
            $(document).ready(function () {
                $('#salary_grade-table').DataTable({
                    dom: 'Bfrtip',
                    iDisplayLength: 15,
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'pageLength'
                    ],
                    search: true,
                    responsive: true
                });
            });
//hiding the fields that don't require input by this form but will be used at a later input
//choosing the payment method

      $(".notes").hide();
      $('#id_note').hide()
      $(".year").show();
//make claculations allowances
            $(document).ready(function () {
              $( "#id_house_rent" ).keyup(function()
                  {
                     $.sum();
                  }
              );
              $( "#id_transport_allowance" ).keyup(function()
                  {
                     $.sum();
                  }
              );
              $( "#id_medical_allowance" ).keyup(function()
                  {
                     $.sum();
                  }
              );
              $( "#id_Bonus" ).keyup(function()
                  {
                     $.sum();
                  }
              );
              $( "#id_over_time_hourly_pay" ).keyup(function()
                  {
                     $.sum();
                  }
              );
              $( "#id_over_time_total_hour" ).keyup(function()
                  {
                     $.sum();
                  }
              );


              $.sum = function()
                  {
                  $("#id_total_allowance").val(
                  (parseInt($("#id_over_time_hourly_pay").val()) * parseInt($("#id_over_time_total_hour").val()))+
                  (parseInt($("#id_house_rent").val())+ parseInt($("#id_transport_allowance").val())+ parseInt($("#id_medical_allowance").val())+ parseInt($("#id_Bonus").val()))
                   );
                  }
            });
//function for subtracting provident fund from basic salary
          $(document).ready(function () {
            $( "#id_basic_salary" ).keyup(function()
                {
                   $.dif();
                }
            );
            $( "#id_provident_fund" ).keyup(function()
                {
                   $.dif();
                }
            );
            $( "#id_Penalty" ).keyup(function()
                {
                   $.dif();
                }
            );
            $( "#id_Bonus" ).keyup(function()
                {
                   $.dif();
                }
            );
            $( "#id_over_time_hourly_pay" ).keyup(function()
                {
                   $.dif();
                }
            );
            $( "#id_over_time_total_hour" ).keyup(function()
                {
                   $.dif();
                }
            );
            $.dif = function()
                {
                $("#id_net_salary").val(
               (parseInt($("#id_over_time_hourly_pay").val()) * parseInt($("#id_over_time_total_hour").val()))+ (parseInt($("#id_basic_salary").val()) + parseInt($("#id_Bonus").val()))  -
               (parseInt($("#id_provident_fund").val()) +(-parseInt($("#id_Penalty").val())))

                )
                ;
                }
          });
//function for finding total deductions
          $(document).ready(function () {
            $( "#id_provident_fund" ).keyup(function()
                {
                   $.deduct();
                }
            );
            $( "#id_Penalty" ).keyup(function()
                {
                   $.deduct();
                }
            );
            $.deduct = function()
                {
                $("#id_total_deduction").val(parseInt($("#id_provident_fund").val())  + parseInt($("#id_Penalty").val()));
                }
          });
//function to calculate gross salary
            $(document).ready(function () {
              $( "#id_basic_salary" ).keyup(function()
                  {
                     $.total();
                  }
              );
              $( "#id_house_rent" ).keyup(function()
                  {
                     $.total();
                  }
              );
              $( "#id_Bonus" ).keyup(function()
                  {
                     $.total();
                  }
              );
              $( "#id_transport_allowance" ).keyup(function()
                  {
                     $.total();
                  }
              );
              $( "#id_medical_allowance" ).keyup(function()
                  {
                     $.total();
                  }
              );
              $( "#id_over_time_hourly_pay" ).keyup(function()
                  {
                     $.total();
                  }
              );
              $( "#id_over_time_total_hour" ).keyup(function()
                  {
                     $.total();
                  }
              );
              $.total = function()
                  {
                  $("#id_gross_salary").val(
                  parseInt($("#id_over_time_total_hour").val()) * parseInt($("#id_over_time_hourly_pay").val()) + parseInt($("#id_house_rent").val())  + parseInt($("#id_transport_allowance").val()) + parseInt($("#id_basic_salary").val()) +  parseInt($("#id_medical_allowance").val()) + parseInt($("#id_Bonus").val())
                  );
                  }
            });
    //make claculations for overtime computation
                $(document).ready(function () {
                  $( "#id_over_time_hourly_pay" ).keyup(function()
                      {
                         $.product();
                      }
                  );
                  $( "#id_over_time_total_hour" ).keyup(function()
                      {
                         $.product();
                      }
                  );
                  $.product = function()
                      {
                      $("#id_over_time_amount").val(parseInt($("#id_over_time_hourly_pay").val()) * parseInt($("#id_over_time_total_hour").val())
                      );
                      }
                });
          //if the user selects payment by cheque
          $("#id_Payment_Method").change(function() {
              if ($(this).val() === "Cheque") {
                  $('.bank_name').show();
                  $('.cheque_number').show();
                   }
             else if ($(this).val() === "Cash")
                  {
                  $('.bank_name').hide();
                  $('.cheque_number').hide();
                  }
            else{
              $('.bank_name').hide();
              $('.cheque_number').hide();
            }
           });
          $("#id_Payment_Method").trigger("change");
            document.getElementById('employees_id').readOnly = true;
            document.getElementById('employee').readOnly = true;
            document.getElementById('id_grade_name').readOnly = true;
            document.getElementById('id_basic_salary').readOnly = true;
            document.getElementById('id_house_rent').readOnly = true;
            document.getElementById('id_transport_allowance').readOnly = true;
            document.getElementById('id_medical_allowance').readOnly = true;
            document.getElementById('id_over_time_hourly_pay').readOnly = true;
            document.getElementById('id_over_time_amount').readOnly = true;
            document.getElementById('id_provident_fund').readOnly = true;
            document.getElementById('id_hourly_rate').readOnly = true;
            document.getElementById('id_total_allowance').readOnly = true;
            document.getElementById('id_total_deduction').readOnly = true;
            document.getElementById('id_gross_salary').readOnly = true;
            document.getElementById('id_net_salary').readOnly = true;


        </script>
    </div>

{% endblock content %}
