<form method="post" action="{% url 'book_view' form.instance.pk %}" class="js-book-view-form"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Book Information</h4>
    </div>
    <div class="modal-body">

        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                     aria-labelledby="basic-tab">
                    <p></p>
                    <table id="tablePreview" class="table table-bordered table-striped">
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th>School Name</th>
                            <td>{{ form.instance.school }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Book Title</th>
                            <td>{{ form.instance.book_title }}</td>
                        </tr>
                        <tr>
                            <th>Book Cover</th>
                            <td>
                                {% if form.instance.book_cover %}
                                    <img src="{{ form.instance.book_cover.url }}"
                                         alt="" width="50"
                                         style="background: rgba(15,174,221,0.97); padding: 2px;"/><br/><br/>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Book ID</th>
                            <td>{{ form.instance.book_ID }}</td>
                        </tr>
                        <tr>
                            <th>Edition</th>
                            <td>{{ form.instance.edition }}</td>
                        </tr>
                        <tr>
                            <th>Author</th>
                            <td>{{ form.instance.author }}</td>
                        </tr>

                        <tr>
                            <th>Language</th>
                            <td>{{ form.instance.language }}</td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td>{{ form.instance.quantity }}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>{{ form.instance.price }}</td>
                        </tr>
                        <tr>
                            <th>Almira No</th>
                            <td>{{ form.instance.almira_no }}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{{ form.instance.created }}</td>
                        </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>