{% for ebook in ebooks %}
    <tr>
        <td>{{ ebook.id }}</td>
        <td>{{ ebook.EBook_title }}</td>
        <td>{{ ebook.classroom }}</td>
        <td>{{ ebook.author }}</td>
        <td>{{ ebook.language }}</td>
        <td>{{ ebook.edition }}</td>
        <td>
            {% if ebook.cover_image %}
                <img src="{{ ebook.cover_image.url }}"
                     alt="" width="80"/>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'ebook_update' ebook.pk %}" class="btn btn-info btn-sm">
                <span class="fa fa-pencil-square-o"></span> Edit</a>
            <button type="button"
                    class="btn btn-warning btn-sm js-view-ebook"
                    data-url="{% url 'ebook_view' ebook.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span> View
            </button>
            <a href="{{ ebook.e_book.url }}" class="btn btn-primary btn-sm" target="_blank">
                <span class="fa fa-download"></span>Download
            </a>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-ebook"
                    data-url="{% url 'ebook_delete' ebook.pk %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="10" class="text-center bg-warning">No Book</td>
    </tr>
{% endfor %}