{% extends "app/base_site.html" %}

{% block title %} Invoice {% endblock title %}

{% load static i18n %}

{% load widget_tweaks %}

{% block javascript %}
    <script src="{% static 'schools/js/invoices.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"/>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
{% endblock stylesheets %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa fa-calculator"></i><small> Manage Invoice</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">Discount</a>
                        | <a href="#">Fee Type</a>
                        | <a href="#">Fee Collection</a>
                        | <a href="#">Manage Invoice</a>
                        | <a href="#">Due Invoice</a>
                        | <a href="#">Due Free Email</a>
                        | <a href="#">Due Free SMS</a>
                        | <a href="#">Income Head</a>
                        | <a href="#">Income</a>
                        | <a href="#">Expenditure Head</a>
                        | <a href="#">Expenditure</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation"><a href="{% url 'invoice_list' %}"><i
                                        class="fa fa-list-ol"></i> Invoice List</a>
                                </li>
                                <li role="presentation" class="active"><a href="{% url 'invoice_create' %}"><i
                                        class="fa fa-plus-square-o"></i> Create Invoice</a>
                                </li>
                            </ul>
                            <br/>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_invoice_list">
                                    <div class="x_content">

                                        <form class="form-horizontal form-label-left"
                                              action="{% url 'student_dues_paid' %}"
                                              method="post"
                                              enctype="multipart/form-data"
                                              accept-charset="utf-8">{% csrf_token %}
                                            <div class="form-group col-md-3 mb-0">

                                                {% for student in students %}
                                                    <label>Student Name</label>
                                                    <input type="text" name="student_name" id="student" maxlength="100"
                                                           class="textinput textInput form-control"
                                                           value="{{ student.user }}">
                                                    <div id="st">
                                                        <label>Student Id</label>
                                                        <input type="text" name="student_id" id="student_id"
                                                               maxlength="100" class="textinput textInput form-control"
                                                               value="{{ student.id }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-row">
                                                <div id="fee_amounts" class="form-group col-md-3 mb-0">
                                                    {{ form.classroom|as_crispy_field }}
                                                </div>

                                                <div id="fee_amounts" class="form-group col-md-3 mb-0">
                                                    {{ form.paid_amount|as_crispy_field }}
                                                </div>

                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.Payment_Method|as_crispy_field }}
                                                </div>

                                                <div class="bank_name form-group col-md-3 mb-0">
                                                    {{ form.Bank_Name|as_crispy_field }}
                                                </div>

                                                <div class="cheque_number form-group col-md-3 mb-0">
                                                    {{ form.Cheque_Number|as_crispy_field }}
                                                </div>


                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.note|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#invoice-table').DataTable({
                        dom: 'Bfrtip',
                        iDisplayLength: 15,
                        buttons: [
                            'copyHtml5',
                            'excelHtml5',
                            'csvHtml5',
                            'pdfHtml5',
                            'print',
                            'pageLength'
                        ],
                        search: true,
                        responsive: true
                    });
                });

                $("#div_id_school").hide();
                $("#st").hide();
                /* $("#div_id_discount").hide();
                 $('#div_id_net_amount').hide();
                 $("#div_id_classroom").hide();
                 $("#div_id_student").hide();
                 $('#div_id_fee_type').hide();
                 $("#div_id_month").hide();
                 $("#div_id_fee_amount").hide();
                 $('#div_id_paid_status').hide();*/
                //choosing the payment method
                $("#id_paid_status").change(function () {
                    if ($(this).val() === "Paid") {
                        $('.payment_method').show();
                    } else if ($(this).val() === "Unpaid") {
                        $('.payment_method').hide();
                        $('.bank_name').hide();
                        $('.cheque_number').hide();
                    } else {
                        $('.payment_method').hide();
                        $('.bank_name').hide();
                        $('.cheque_number').hide();
                    }
                });
                $("#id_paid_status").trigger("change");
                //if the user selects payment by cheque
                $("#id_Payment_Method").change(function () {
                    if ($(this).val() === "Cheque") {
                        $('.bank_name').show();
                        $('.cheque_number').show();
                    } else if ($(this).val() === "Cash") {
                        $('.bank_name').hide();
                        $('.cheque_number').hide();
                    } else {
                        $('.bank_name').hide();
                        $('.cheque_number').hide();
                    }
                });
                $("#id_Payment_Method").trigger("change");
                document.getElementById('student').readOnly = true;

                //script for disabling the dropdown button, making it uneditable for the user
                // $(function () {
                //var klass = $('select[name="classroom"]')
                // klass.prop('disabled', true);});

            </script>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

    {{ block.super }}
    <!-- Datatables -->




{% endblock javascripts %}

